<section id="footerr">
  <!-- Footer -->
  <footer>
    <!-- Section: Social media -->
    <section class="redessociales d-flex justify-content-between p-3 text-white">
      <!-- Left -->
      <div>
        <span><strong>Redes Sociales:</strong></span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="gmail" href="mailto:dimecosalud@gmail.com" target="_blank" rel="noopener noreferrer"><i
                class="fa-regular fa-envelope"></i></a></li>
          <li><a class="facebook" href="https://www.facebook.com/dimecosalud" target="_blank"
              rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
          <li><a class="instagram" href="https://www.instagram.com/dimecosalud/" target="_blank"
              rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="cuerpo">
      <!-- Grid column -->
      <div class="logofooter d-flex justify-content-end">
        <img loading="lazy"
          src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/pagina%20principal%2Flogo_1920x1280.webp?alt=media&token=fbe81d82-a4c2-48fc-b69f-cb842baf2f5b"
          class="logofooter" width="180px" height="65px" alt="Logo de Dimeco Salud">
      </div>
      <!-- Grid column -->
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="descripcion-principal col-md-8 col-lg-9 col-xl-7 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Agradecimiento y Compromiso</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 130px; background-color: #589abb; height: 2px" />
            <p>
              Quienes conformamos Dimeco Salud agradecemos tu confianza. Trabajamos y proyectamos con el propósito de
              entregar diagnósticos con el más alto estándar, apoyados en la última tecnología y un equipo comprometido
              y altamente especializado.
              Su bienestar es nuestra prioridad.
            </p>
          </div>

          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contacto</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #589abb; height: 2px" />
            <p><i class="fa-solid fa-location-dot mr-3"></i> Hipólito Yirigoyen 446
              <br>
              Bell Ville, Córdoba.
            </p>
            <p><i class="fa-solid fa-envelope mr-3"></i> dimecosalud@gmail.com</p>
            <p><i class="fa-solid fa-phone mr-3"></i> (03537) 428594/<br>
              420158 / 424253</p>
            <p><i class="fa-solid fa-clock mr-3"></i> <b>Lunes a Jueves:</b><br>
              8:00 a 13:00 hs. 16:00 a 20:30 hs.</p>
            <p><b>Viernes</b><br>
              8:00 a 16:00 hs.</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="Copyright text-center p-3">
      Copyright © 2023 - Dimeco Salud.<br>
      Diseñado y desarrollado por <strong>Ignacio Maiorino</strong>
    </div>
    <!-- Copyright -->
  </footer>
</section>