<hr>
<hr>
<hr>
<hr>
<hr>
<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-3 text-white" style="background-color: #21D192">
    <!-- Left -->
    <div class="me-5">
      <span>Redes Sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li><a class="gmail" href="#" target="_blank"><i class="fa-regular fa-envelope"></i></a></li>
        <li><a class="facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a class="instagram" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="cuerpo">
    <!-- Grid column -->
    <div class="logofooter">
      <img src="../../../assets/imagenes/logo.png" class="logofooter" width="180px" alt="Logo de  Dimeco Salud">
    </div>
    <!-- Grid column -->
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="descripcion-principal col-md-7 col-lg-8 col-xl-6 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">Descripción</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #15996b; height: 2px" />
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga corporis consequatur ut consequuntur!
            Reprehenderit quidem atque itaque ipsam quas minima iusto possimus, quisquam libero odit! Expedita veritatis
            nihil aut vitae magni error eum doloribus ipsum incidunt nemo architecto fugit saepe natus suscipit, quasi
            laborum ullam laudantium provident reprehenderit consectetur iure?
          </p>
        </div>

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contacto</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #15996b; height: 2px" />
          <p><i class="fa-solid fa-location-dot mr-3"></i> Hipólito Yirigoyen 446

            Bell Ville, Córdoba.</p>
          <p><i class="fa-solid fa-envelope mr-3"></i> dimecosalud@gmail.com</p>
          <p><i class="fa-solid fa-phone mr-3"></i> (03537)
            428594 /420158 / 424253</p>
          <p><i class="fa-solid fa-clock mr-3"></i> Lunes a Viernes:
            8:00 a 12:00 hs. 16:00 a 20:00 hs.</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Copyright © 2023, Ignacio Maiorino
  </div>
  <!-- Copyright -->
</footer>