<hr>
<hr>
<hr>
<hr>
<hr>
<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #ffffff">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-3 text-white" style="background-color: #589abb">
    <!-- Left -->
    <div class="me-4">
      <span><strong>Redes Sociales:</strong></span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li><a class="gmail" href="mailto:dimecosalud@gmail.com" target="_blank"><i
              class="fa-regular fa-envelope"></i></a></li>
        <li><a class="facebook" href="https://www.facebook.com/dimecosalud" target="_blank"><i
              class="fa fa-facebook"></i></a></li>
        <li><a class="instagram" href="https://www.instagram.com/dimecosalud/" target="_blank"><i
              class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="cuerpo">
    <!-- Grid column -->
    <div class="logofooter d-flex justify-content-end">
      <img loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/pagina%20principal%2Flogo_1920x1280.webp?alt=media&token=853633d9-c335-4663-b866-1b0d376ae042&_gl=1*119yfj*_ga*MjU2MDY3OTk2LjE2OTc5MTUxNjc.*_ga_CW55HF8NVT*MTY5NzkxNTE2Ny4xLjEuMTY5NzkxNjgwMy40MS4wLjA." class="logofooter" width="180px" height="65px" alt="Logo de  Dimeco Salud">
    </div>
    <!-- Grid column -->
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="descripcion-principal col-md-8 col-lg-9 col-xl-7 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">Agradecimiento y Compromiso</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 130px; background-color: #589abb; height: 2px" />
          <p>
            Quienes conformamos Dimeco Salud agradecemos su confianza. Trabajamos y proyectamos con el propósito de entregar diagnósticos con el más alto estándar, apoyados en la última tecnología y un equipo comprometido y altamente especializado. 
            Su bienestar es nuestra prioridad.
          </p>
        </div>

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contacto</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #589abb; height: 2px" />
          <p><i class="fa-solid fa-location-dot mr-3"></i><strong> Hipólito Yirigoyen 446
            <br>
            Bell Ville, Córdoba.</strong>
          </p>
          <p><i class="fa-solid fa-envelope mr-3"></i><strong> dimecosalud@gmail.com</strong></p>
          <p><i class="fa-solid fa-phone mr-3"></i><strong> (03537) 428594/<br>
            420158 / 424253</strong></p>
          <p><i class="fa-solid fa-clock mr-3"></i><strong> Lunes a Viernes:<br>
            8:00 a 13:00 hs. 16:00 a 20:30 hs.</strong></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(99, 99, 99, 0.2)">
    Copyright © 2023 - Ignacio Maiorino
  </div>
  <!-- Copyright -->
</footer>