<app-navbar></app-navbar>
<app-banner></app-banner>
<app-rediccionar></app-rediccionar>
<app-presentacion></app-presentacion>
<app-estudios></app-estudios>
<app-informacion></app-informacion>
<app-galeria></app-galeria>
<app-noticias></app-noticias>
<app-footer></app-footer>
<!--boton dirijir hacia arriba-->
<button *ngIf="showScrollToTopButton" class="btn btn-sm scroll-to-top" (click)="scrollToTop()">
  <i class="fa fa-arrow-up"></i>
</button>
<!--boton Whatsapp-->
<div class="sharing" *ngIf="showScrollToTopButton">
  <a href="https://wa.me/3537660207" target="_blank" rel="noopener noreferrer" class="sharing-item sharing-whatsapp">
    <svg class="i" viewBox="0 0 24 24">
      <circle cx="9" cy="9" r="1"></circle>
      <circle cx="15" cy="15" r="1"></circle>
      <path d="M8 9a7 7 0 0 0 7 7m-9 5.2A11 11 0 1 0 2.8 18L2 22"></path>
    </svg>
  </a>
</div>