<hr>
<hr>
<hr>
<hr>
<hr>
<div class="container-fluid">
    <h1 class="text-center">Estudios que Realizamos</h1>
    <ol style="--length: 5" role="list" class="row">
        <li style="--i: 1" class="col-md-6">
            <h3>Discovery and assessment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.</p>
        </li>
        <li style="--i: 2" class="col-md-6">
            <h3>Information gathering and analysis</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.</p>
        </li>
        <li style="--i: 3" class="col-md-6">
            <h3>Creating your claim</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.</p>
        </li>
        <li style="--i: 4" class="col-md-6">
            <h3>Approvals and submission</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.</p>
        </li>
        <li style="--i: 5" class="col-md-6">
            <h3>Receiving your benefit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.</p>
        </li>
        <li style="--i: 6" class="col-md-6">
            <h3>Receiving your benefit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.</p>
        </li>
    </ol>
</div>
