.info {
  background: linear-gradient(rgba(255, 255, 255, 0.789), rgba(255, 255, 255, 0.937)), url('../../../assets/imagenes/doctor.jpg');
  background-size: cover;
  /* para que la imagen cubra todo el contenedor */
  background-position: center;
  /* para centrar la imagen en el contenedor */
  background-repeat: no-repeat;
  /* para evitar que la imagen se repita */
  background-attachment: fixed;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-block: 50px;
  position: relative;
  z-index: 1;
  top: -20px;
}





.fa-solid.fa-arrow-right {
  color: #64acd4;
  font-size: 20px;
  margin-right: 5px;
}

.titulosub {
  color: rgb(39, 39, 39);
  cursor: pointer;
  font-size: 18px;
  line-height: 19.2px;
  font-weight: 400;
  text-align: left;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  /* Se modifica a transform */
}

.titulosub:hover {
  transform: scale(1.05);
  /* Aumenta el tamaño del texto en un 20% */
  color: rgb(0, 0, 0);
}