.info {
  width: 900px;
  height: 600px;
  background: linear-gradient(rgba(255, 255, 255, 0.648), rgba(255, 255, 255, 0.953)), url('https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/pagina%20principal%2Fimagenfondo_1920x1280.webp?alt=media&token=3eab5cbd-8cbf-43bb-84f0-5942a10ecbb9&_gl=1*1oav2fq*_ga*MjU2MDY3OTk2LjE2OTc5MTUxNjc.*_ga_CW55HF8NVT*MTY5NzkxNTE2Ny4xLjEuMTY5NzkxNzc3MC4zNS4wLjA.');
  background-size: cover;
  /* para que la imagen cubra todo el contenedor */
  background-position: center;
  /* para centrar la imagen en el contenedor */
  background-repeat: no-repeat;
  /* para evitar que la imagen se repita */
  background-attachment: fixed;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-block: 50px;
  position: relative;
  z-index: 1;
  top: -20px;
}




.fa-solid.fa-arrow-right {
  color: #64acd4;
  font-size: 20px;
  margin-right: 5px;
}

.titulosub {
  margin: 10px;
  color: rgb(39, 39, 39);
  cursor: pointer;
  font-size: 23px;
  line-height: 19.2px;
  font-weight: 400;
  text-align: left;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 320px;
}

.titulosub {
  font-weight: bold;
}

.parrafodesplazado {
  font-weight: 600;
}

.parrafodesplazado {
  margin-left: 100px;
}

.titulosub:hover {
  transform: scale(1.05);
  /* Aumenta el tamaño del texto en un 20% */
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .titulosub {
    margin-left: 50px;
  }

  .parrafodesplazado {
    margin-left: 30px;
  }
}