<section id="navbar">
    <nav  class="navbar navbar-expand-lg bg-body-tertiary" *ngFor="let nav of  navbar">
        <div class="container-fluid justify-content-between">
            <img src={{nav.imagen}} alt={{nav.alt}}>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-end" data-aos="fade-right" data-aos-duration="1500"
                    data-aos-delay="100">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">{{nav.enlace1}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateTo($event,'nosotros')">{{nav.enlace2}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateTo($event,'servicios')">{{nav.enlace3}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateTo($event,'contact')">{{nav.enlace4}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateTo($event,'galeria')">{{nav.enlace5}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profesionales">{{nav.enlace6}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>