img {
    width: 300px;
    height: 120px;
}


.container-fluid {
    padding-right: 0;
    padding-left: 0;
    /* Otros estilos necesarios */
}

.btn.btn-outline {
    background-color: rgba(69, 69, 69, 0.631);
    color: #ffffff;
    border: 3px solid #83d2a6;
}

.btn.btn-outline:hover {
    background-color: #5c7869;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    margin: 10px;
}

ul {
    margin: 10px;
    gap: 10px;
}

.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.826);
    font-size: 18px;
}


.nav-link:hover {
    color: #ffffff;
}


.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.navbar-toggler {
    margin: 10px;
    background-color: #75c5ed;
    padding: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}



.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
}


.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
    left: 0;
}


nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent !important;
    transition: background-color 0.3s ease;
    z-index: 3;
    /* Aumenta este valor para que sea mayor que el de los elementos superpuestos */
}


@media (max-width: 768px) {
    img {
        width: 200px;
        height: 80px;
    }
}

@media (max-width: 990px) {
    .navbar-collapse.show {
        background-color: rgb(38, 38, 38);
    }
}