<section id="navbar">
    <nav  class="navbar navbar-expand-lg bg-body-tertiary" *ngFor="let nav of  navbar">
        <div class="container-fluid justify-content-between">
            <img src={{nav.imagen}} alt={{nav.alt}}>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros" (click)="navigateTo($event,'nosotros')">{{nav.enlace2}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios" (click)="navigateTo($event,'servicios')">{{nav.enlace3}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact" (click)="navigateTo($event,'contact')">{{nav.enlace4}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="galeria" (click)="navigateTo($event,'galeria')">{{nav.enlace5}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profesionales" routerLink="/profesionales">{{nav.enlace6}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#redireccion" class="botonmenu" (click)="navigateTo($event,'redireccion')"><button type="button" class="btn btn-outline" >{{nav.enlace7}}</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>