#equipo {
    margin-top: 100px;
}

.container{
  display: flex;
  justify-content: center;
align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    max-width: 1100px; 
    border-radius: 10px;
}

.texto-color {
  color: rgb(58, 140, 119);
}

h1 {
    margin-bottom: 70px;
}



.texto.col-lg-5 {
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.col-lg-5 {
  margin-top: 20px;
}

  
  strong {
    color: #3d84b2;
  }
  
  