<section id="equipo" class="py-5">
  <h1 class="text-center mb-5">Diagnóstico con Ortopantomografía Digital</h1>
  <div class="container">
    <div class="row align-items-center">

      <!-- Carrusel a la izquierda -->
      <div class="col-lg-6">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/noticias%20por%20mes%2Fortopantomografia1.webp?alt=media&token=9c0bc1aa-09c3-4e5e-b693-fd1550b605be"
                class="d-block w-100 rounded shadow" alt="Equipo 1">
            </div>
            <div class="carousel-item">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/noticias%20por%20mes%2Fortopantomografia2.webp?alt=media&token=13f7f6c9-56ca-4562-b050-8d843e0a0ae1"
                class="d-block w-100 rounded shadow" alt="Equipo 2">
            </div>
            <div class="carousel-item">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/noticias%20por%20mes%2Fortopantomografia3.webp?alt=media&token=03622f9e-7476-48de-842b-4cdc88e544a7"
                class="d-block w-100 rounded shadow" alt="Equipo 3">
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <!-- Texto a la derecha -->
      <div class="col-lg-6">
        <div class="texto">
          <h3>
            Nueva incorporación tecnológica en nuestro Centro de Diagnóstico
          </h3>
          <p>
            En nuestro centro de salud incorporamos un moderno equipo de
          <b class="texto-color">ortopantomografía digital</b>, una tecnología avanzada que permite obtener
          una <b>radiografía panorámica completa de la boca, los dientes, las mandíbulas y las estructuras
            circundantes.</b><br><br>

          La <b>ortopantomografía</b> es una herramienta fundamental en el diagnóstico odontológico y maxilofacial, ya que ofrece una visión global y detallada que no se logra con una radiografía dental convencional. Gracias a esta imagen panorámica, los profesionales pueden detectar
          <b>problemas ocultos</b>, como caries entre dientes, infecciones, quistes, fracturas, alteraciones en la
          erupción dental, y evaluar la salud ósea de forma precisa.<br><br>

          Contar con este equipamiento nos permite brindar <b>diagnósticos más rápidos, seguros y confiables</b>,
          mejorando la planificación de tratamientos odontológicos, ortodónticos o quirúrgicos.<br><br>

          Realizarse controles periódicos con ortopantomografía es clave para <b>prevenir enfermedades bucales, detectar
            afecciones a tiempo y mantener una salud integral.</b>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>