<header>
  <div class="container">
    <div class="row" *ngFor="let nav of navbar">
      <div class="col-md-2 col-sm-2 col-2">
        <div class="logo">
          <img src={{nav.imagen}} class="logo" alt={{nav.alt}}>
        </div>
      </div>
      <div class="col-md-10 col-sm-10 col-10 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li><a class="menu-pointer" href="/inicio" routerLink="/inicio" (click)="navigateTo($event, 'inicio')">{{nav.enlace1}}</a></li>
            <li><a class="menu-pointer" href="#nosotros">{{nav.enlace2}}</a></li>
            <li><a class="menu-pointer" href="#servicios">{{nav.enlace3}}</a></li>
            <li><a class="menu-pointer" href="#contact">{{nav.enlace4}}</a></li>
            <li><a class="menu-pointer" href="#galeria">{{nav.enlace5}}</a></li>
                  <li>
                      <a href="http://dimecosrl.ddns.net:8181/" target="_blank" rel="noopener noreferrer"
                          class="botonmenu"><button type="button" class="btn btn-outline">{{nav.enlace7}}</button></a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</header>