@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

h1 {
  margin-bottom: 70px;
}

a {
  cursor: pointer;
}


.img-responsive {
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  border: 1px solid #21D192;
  transition: transform 0.3s;
  /* Agregamos una transición suave de 0.3 segundos */
}

.img-responsive:hover {
  transform: scale(1.05);
  /* Escalamos la imagen al 105% del tamaño original al pasar el mouse */
}


@media (max-width: 768px) {
  .img-responsive {
    width: 40%;
    margin: 15px;
  }
}