<hr>
<hr>
<hr>
<hr>
<hr>
<section id="galeria">
  <h1 class="text-center">Galeria</h1>
  <div class="container d-flex justify-content-center align-items-center col-lg-8">
    <div class="row">
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fecografia.jpg?alt=media&token=43828f9f-a8c6-4611-bb6e-005812bb433b&_gl=1*6nfus6*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTIwNy42MC4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fecografia.jpg?alt=media&token=43828f9f-a8c6-4611-bb6e-005812bb433b&_gl=1*6nfus6*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTIwNy42MC4wLjA.">
          <img class="img-responsive"
            src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fecografia.jpg?alt=media&token=43828f9f-a8c6-4611-bb6e-005812bb433b&_gl=1*6nfus6*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTIwNy42MC4wLjA."
            alt="Ecografo" />
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fradiografia.jpg?alt=media&token=fe71e529-85fd-4e54-a7a0-9a72646fa06b&_gl=1*1d50d9r*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTI2NS4yLjAuMA.."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fradiografia.jpg?alt=media&token=fe71e529-85fd-4e54-a7a0-9a72646fa06b&_gl=1*1d50d9r*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTI2NS4yLjAuMA..">
          <img class="img-responsive"
            src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fradiografia.jpg?alt=media&token=fe71e529-85fd-4e54-a7a0-9a72646fa06b&_gl=1*1d50d9r*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTI2NS4yLjAuMA.."
            alt="Equipo de rayos X" />
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Ftomografo.jpg?alt=media&token=04a3356a-552b-48b8-9e82-54409bef0848&_gl=1*1lk0hq6*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTI5OS4yOS4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Ftomografo.jpg?alt=media&token=04a3356a-552b-48b8-9e82-54409bef0848&_gl=1*1lk0hq6*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTI5OS4yOS4wLjA.">
          <img class="img-responsive"
            src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Ftomografo.jpg?alt=media&token=04a3356a-552b-48b8-9e82-54409bef0848&_gl=1*1lk0hq6*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTI5OS4yOS4wLjA."
            alt="Tomografo" />
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Faparato1.jpg?alt=media&token=ffc245ad-3d09-4beb-964e-b457e755da8c&_gl=1*5jmj4l*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTMzMi42MC4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Faparato1.jpg?alt=media&token=ffc245ad-3d09-4beb-964e-b457e755da8c&_gl=1*5jmj4l*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTMzMi42MC4wLjA.">
          <img class="img-responsive"
            src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Faparato1.jpg?alt=media&token=ffc245ad-3d09-4beb-964e-b457e755da8c&_gl=1*5jmj4l*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTMzMi42MC4wLjA."
            alt="Mamógrafo" />
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Faparato2.jpg?alt=media&token=269457da-8a86-46fb-8a46-1c12151db5f8&_gl=1*csci0s*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTM2OS4yMy4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Faparato2.jpg?alt=media&token=269457da-8a86-46fb-8a46-1c12151db5f8&_gl=1*csci0s*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTM2OS4yMy4wLjA.">
          <img class="img-responsive"
            src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Faparato2.jpg?alt=media&token=269457da-8a86-46fb-8a46-1c12151db5f8&_gl=1*csci0s*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTM2OS4yMy4wLjA."
            alt="Mamógrafo" />
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fpiso1.jpg?alt=media&token=da71a323-7a9e-4eac-be52-a0aa47e597ad&_gl=1*h112be*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTQxMy42MC4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fpiso1.jpg?alt=media&token=da71a323-7a9e-4eac-be52-a0aa47e597ad&_gl=1*h112be*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTQxMy42MC4wLjA.">
          <img class="img-responsive"
            src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2Fpiso1.jpg?alt=media&token=da71a323-7a9e-4eac-be52-a0aa47e597ad&_gl=1*h112be*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjQ0MjI0Ni42LjEuMTY5NjQ0OTQxMy42MC4wLjA."
            alt="Sala de espera" />
        </a>

      </lightgallery>
    </div>
  </div>
</section>