@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

h1 {
  margin-bottom: 70px;
}

a {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-responsive {
  width: 180px;
  margin: 10px;
}


