<hr>
<hr>
<hr>
<hr>
<hr>
<section id="galeria">
  <h1 class="text-center">Galeria</h1>
  <div class="container d-flex justify-content-center align-items-center col-lg-8">
    <div class="row">
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FEcografia_1920x1280.webp?alt=media&token=5cd75bda-589c-467d-afba-91c77a0d75f9&_gl=1*j7qkxn*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODMwOS4xNy4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FEcografia_1920x1280.webp?alt=media&token=5cd75bda-589c-467d-afba-91c77a0d75f9&_gl=1*j7qkxn*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODMwOS4xNy4wLjA.">
          <div data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="100" class="img-wrapper">
            <img class="img-responsive"
              src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FEcografia_1920x1280.webp?alt=media&token=5cd75bda-589c-467d-afba-91c77a0d75f9&_gl=1*j7qkxn*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODMwOS4xNy4wLjA."
              alt="Ecografo" />
          </div>
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FRadiografia_1920x1280.webp?alt=media&token=9be0b4e7-27c8-4e42-8baf-6b9e4b51ba14&_gl=1*ydjhvt*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODM3Mi42MC4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FRadiografia_1920x1280.webp?alt=media&token=9be0b4e7-27c8-4e42-8baf-6b9e4b51ba14&_gl=1*ydjhvt*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODM3Mi42MC4wLjA.">
          <div data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="100" class="img-wrapper">
            <img class="img-responsive"
              src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FRadiografia_1920x1280.webp?alt=media&token=9be0b4e7-27c8-4e42-8baf-6b9e4b51ba14&_gl=1*ydjhvt*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODM3Mi42MC4wLjA."
              alt="Equipo de rayos X" />
          </div>
        </a>


        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FTomografo_1920x1280.webp?alt=media&token=424b4e27-5dfc-4d59-8e69-b1cc6f5f4a37&_gl=1*1e395js*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQxNi4xNi4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FTomografo_1920x1280.webp?alt=media&token=424b4e27-5dfc-4d59-8e69-b1cc6f5f4a37&_gl=1*1e395js*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQxNi4xNi4wLjA.">
          <div data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="100" class="img-wrapper">
            <img class="img-responsive"
              src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FTomografo_1920x1280.webp?alt=media&token=424b4e27-5dfc-4d59-8e69-b1cc6f5f4a37&_gl=1*1e395js*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQxNi4xNi4wLjA."
              alt="Tomografo" />
          </div>
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FAparato1_1920x1280.webp?alt=media&token=882c0298-0d55-4303-902a-2c1fd480625d&_gl=1*1t451gi*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQ1Ny42MC4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FAparato1_1920x1280.webp?alt=media&token=882c0298-0d55-4303-902a-2c1fd480625d&_gl=1*1t451gi*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQ1Ny42MC4wLjA.">
          <div data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="100" class="img-wrapper">
            <img class="img-responsive"
              src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FAparato1_1920x1280.webp?alt=media&token=882c0298-0d55-4303-902a-2c1fd480625d&_gl=1*1t451gi*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQ1Ny42MC4wLjA."
              alt="Mamógrafo" />
          </div>
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FAparato2_1920x1280.webp?alt=media&token=59e5e0cf-c796-4c48-9ef5-12b7d60eefe8&_gl=1*1ysl888*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQ5My4yNC4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FAparato2_1920x1280.webp?alt=media&token=59e5e0cf-c796-4c48-9ef5-12b7d60eefe8&_gl=1*1ysl888*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQ5My4yNC4wLjA.">
          <div data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="100" class="img-wrapper">
            <img class="img-responsive"
              src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FAparato2_1920x1280.webp?alt=media&token=59e5e0cf-c796-4c48-9ef5-12b7d60eefe8&_gl=1*1ysl888*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODQ5My4yNC4wLjA."
              alt="Mamógrafo" />
          </div>
        </a>

        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item"
          data-src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FPrimerPiso_1920x1280.webp?alt=media&token=37782e88-2a84-4915-b74b-086420596131&_gl=1*bmkkls*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODU0MS42MC4wLjA."
          data-responsive="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FPrimerPiso_1920x1280.webp?alt=media&token=37782e88-2a84-4915-b74b-086420596131&_gl=1*bmkkls*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODU0MS42MC4wLjA.">
          <div data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="100" class="img-wrapper">
            <img class="img-responsive"
              src="https://firebasestorage.googleapis.com/v0/b/dimecosalud-bellville.appspot.com/o/imagenes%20dimeco%2FPrimerPiso_1920x1280.webp?alt=media&token=37782e88-2a84-4915-b74b-086420596131&_gl=1*bmkkls*_ga*MjMyOTI1NzU5LjE2OTU5MzQzODg.*_ga_CW55HF8NVT*MTY5NjUxMzc2MC44LjEuMTY5NjUxODU0MS42MC4wLjA."
              alt="Sala de espera" />
          </div>
        </a>

      </lightgallery>
    </div>
  </div>
</section>