<hr>
<hr>
<hr>
<hr>
<hr>
<section id="galeria">
  <h1 class="text-center">Galería</h1>
  <div class="container d-flex justify-content-center align-items-center col-lg-8">
    <div class="row">
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

        <a  *ngFor="let image of images" class="gallery-item" href="{{ image.src }}"
          [attr.data-src]="image.src" [attr.data-responsive]="image.src">
          <div class="img-wrapper">
            <img loading="lazy" class="img-responsive" [src]="image.src" [alt]="image.alt" />
          </div>
        </a>

      </lightgallery>
    </div>
  </div>
</section>