<hr>
<hr>
<hr>
<hr>
<hr>
<section id="contact" class="contact">
    <div class="container section-title">
        <h1>Información</h1>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="row gy-4">
                    <div class="col-md-6" *ngFor="let info of  informacion">
                        <div class="info-item">
                            <i class={{info.icono}}></i>
                            <h3>{{info.titulo}}</h3>
                            <p>{{info.parrafo1}}</p>
                            <p>{{info.parrafo2}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="map-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3360.0213122898363!2d-62.696595221372824!3d-32.63225590597477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cbfa51493b7e05%3A0x323f9f071e187a48!2sH.%20Yrigoyen%20446%2C%20X2550AGJ%20Bell%20Ville%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1695934594616!5m2!1ses-419!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>