img {
    width: 300px;
    outline: 1px solid rgb(34, 34, 34);
    outline-offset: 10px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 70px;
}

p {
    margin: 20px;
}

h1, p {
    font-family: 'Montserrat', sans-serif;
}