<hr>
<hr>
<hr>
<hr>
<hr>
<div class="container">
    <h1>Dimeco Salud</h1>
    <div class="row">
    <div class="imagendimeco col-lg-4 d-flex justify-content-center">
        <img src="../../../assets/imagenes/doctor.jpg" alt="">
    </div>
    <div class="descripcion col-lg-8 d-flex justify-content-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error inventore magni ipsa mollitia nam, earum
            minima perspiciatis, eligendi culpa rerum! Officia necessitatibus ut ipsam ipsum vero exercitationem
            dolorum, quisquam pariatur placeat nostrum magni culpa sit nam omnis iste commodi eius dolorem aliquid
            nobis. Deleniti pariatur, natus earum voluptas officiis doloribus ad praesentium eum accusantium iusto
            accusamus? Quibusdam, quas! Ullam aperiam vel mollitia consectetur velit, ea asperiores culpa ratione autem
            laborum, quaerat veniam ducimus dolores et. Molestiae earum alias hic suscipit. Dolorem minima earum
            eligendi consequatur eveniet facilis et eos quos explicabo. Suscipit corporis ducimus vel id! Molestias,
            earum repudiandae.</p>
    </div>
</div>
</div>