img {
    width: 400px;
    box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    margin-bottom: 70px;
}




p {
    margin-top: 40px;
}

h1,
p {
    font-family: 'Montserrat', sans-serif;
}