<section id="redireccion">
  <div class="container-fluid" *ngFor="let redi of  redireccion">
    <h2 class="text-center grande" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="100">Visualizador de
      <span>Imagenes</span></h2>
    <p class="text-center col-lg-8" data-aos="fade-right" data-aos-duration="2200" data-aos-delay="100">
      {{redi.descripcion}}</p>
    <div class="d-flex justify-content-center">
      <a href={{redi.direccion}} class="btn-get-started" target="_blank">{{redi.boton}}</a>
    </div>
  </div>
</section>