<section id="redireccion">
  <div class="container-fluid" *ngFor="let redi of  redireccion">
    <h2 class="text-center grande" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">Visualizador de
      <span>Imágenes</span>
    </h2>
    <p class="text-center col-lg-6" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">
      {{redi.descripcion}}</p>
    <div class="d-flex justify-content-center">
      <a href={{redi.direccion}} class="btn-get-started" target="_blank" rel="noopener noreferrer">{{redi.boton}}</a>
    </div>
  </div>
</section>