.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  background-image: linear-gradient(120deg, #055a84 0%, #589abb 100%);
}

h2 {
  font-size: 40px;
}

.text-center {
  margin: 15px;
  color: rgb(255, 255, 255);
}

span {
  color: #83d2a6;
}

.btn-get-started {
  font-family: "Jost", sans-serif;
  font-display: swap;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 60px 11px 60px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #000000;
  background: #83d2a6;
  border: 1px solid rgb(0, 0, 0);
}

.btn-get-started:hover {
  background: #61ba89;
}


@media (max-width: 575px) {
  .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}