*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    margin: 25px auto;
    max-width: 950px;
    /* Limitando el ancho del contenedor */
}

.card {
    background-color: #ffffffbb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}



.card-title {
    font-family: 'Cormorant Garamond', serif;
    font-display: swap;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
}


.img-fluid {
    border: 1px solid #21D192;
    border-radius: 5px 30px 5px 30px;
    margin: 30px 0;
}

@media (max-width: 768px) {
    .img-fluid {
        margin: 30px;
        width: 85%;
    }
    .scroll-to-top {
        right: 70px;
       }
}


.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000; /* o cualquier otro color que prefieras */
    color: #fff; /* color del icono */
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
  }
  
  
  .scroll-to-top:active {
    background-color: #000000;
  }
