<section id="banner2" class="py-5">
  <div class="container p-y-sm">
    <div class="section-header-wrap d-table w-100">
      <div class="d-cell va-m col-6 col-md-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100">
        <h2 class="text-uppercase m-y-0">Profesionales de la Salud</h2>
        <a class="section-header-return btn text-uppercase text-muted go-back" routerLink="/inicio"><i
            class="fa-solid fa-arrow-left"></i> Volver</a>
      </div>
    </div>
  </div>
</section>